*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a:link{color: #AFAFAF;}
a:hover{color: #FE5C9D;}
a:active{color: #AFAFAF;}
a:visited{color: #AFAFAF;}

header{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #FFCEE3;
    justify-content: center;
    align-items: center;
    z-index: 40;
}
nav{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    margin-top: 100px;
    width: 100%;
}
nav ul{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav ul li{}
nav ul li a{
    display: block;
    width: 220px;
    text-align: center;
    font-family: "din-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -0.6px;
}
footer{height: 208px;background-color: pink;}